# build files
build/*.toc
build/*.aux
build/*.log
build/*.out
build/*.bcf
build/*.xml
build/*.fdb_latexmk
build/*.fls
build/*.synctex.gz
build/*synctex(busy)
build/*.blg
build/*.bbl*
build/sections
docs/